<section data-ng-controller="AnnouncementsController" data-ng-init="find()">
    <div class="page-header">
        <h1 class="awesome-font">Announcements</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="announcement in announcements" data-ng-href="/#!/announcements/{{announcement._id}}" class="list-group-item">
            <h4 class="list-group-item-heading" data-ng-bind="announcement.title"></h4>
            <p class="list-group-item-text" ng-bind="announcement.text"></p>
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="announcement.created | date:'medium'"></span>
				by
				<span data-ng-bind="announcement.user.displayName"></span>
			</small>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!announcements.$resolved || announcements.length">
    	No Announcements yet, why don't you <a href="/#!/announcements/create">create one</a>?
    </div>
</section>