# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
#public/lib/
app/tests/coverage/
node_modules/.bin/
node_modules/acl/
node_modules/async/
node_modules/body-parser/
node_modules/bower/
node_modules/cfenv/
node_modules/chalk/
node_modules/compression/
node_modules/connect-flash/
node_modules/connect-mongo/
node_modules/consolidate/
node_modules/cookie-parser/
node_modules/coveralls/
node_modules/crypto/
node_modules/express-session/
node_modules/express/
node_modules/forever/
node_modules/generate-password/
node_modules/glob/
node_modules/grunt-cli/
node_modules/grunt-concurrent/
node_modules/grunt-contrib-copy/
node_modules/grunt-contrib-csslint/
node_modules/grunt-contrib-cssmin/
node_modules/grunt-contrib-jshint/
node_modules/gulp-angular-templatecache/
node_modules/grunt-contrib-less/
node_modules/grunt-contrib-sass/
node_modules/grunt-contrib-uglify/
node_modules/grunt-contrib-watch/
node_modules/grunt-env/
node_modules/grunt-karma/
node_modules/grunt-mocha-istanbul/
node_modules/grunt-mocha-test/
node_modules/grunt-ng-annotate/
node_modules/grunt-node-inspector/
node_modules/grunt-nodemon/
node_modules/grunt-protractor-runner/
node_modules/grunt/
node_modules/gulp-angular-templatecach
node_modules/gulp-autoprefixer/
node_modules/gulp-concat/
node_modules/gulp-csslint/
node_modules/gulp-cssmin/
node_modules/gulp-jshint/
node_modules/gulp-karma/
node_modules/gulp-less/
node_modules/gulp-livereload/
node_modules/gulp-load-plugins/
node_modules/gulp-mocha/
node_modules/gulp-ng-annotate/
node_modules/gulp-nodemon/
node_modules/gulp-protractor/
node_modules/gulp-rename/
node_modules/gulp-sass/
node_modules/gulp-uglify/
node_modules/gulp-util/
node_modules/gulp/
node_modules/helmet/
node_modules/istanbul/
node_modules/jasmine-core/
node_modules/karma-chrome-launcher/
node_modules/karma-coverage/
node_modules/karma-firefox-launcher/
node_modules/karma-jasmine/
node_modules/karma-ng-html2js-preprocessor/
node_modules/karma-phantomjs-launcher/
node_modules/karma/
node_modules/load-grunt-tasks/
node_modules/lodash/
node_modules/method-override/
node_modules/mocha/
node_modules/mongoose/
node_modules/morgan/
node_modules/multer/
node_modules/node-pre-gyp/
node_modules/nodemailer/
node_modules/owasp-password-strength-test/.npmignore
node_modules/owasp-password-strength-test/.travis.yml
node_modules/owasp-password-strength-test/LICENSE
node_modules/owasp-password-strength-test/README.md
node_modules/owasp-password-strength-test/bower.json
node_modules/owasp-password-strength-test/package.json
node_modules/owasp-password-strength-test/test.js
node_modules/passport-facebook/
node_modules/passport-github/
node_modules/passport-google-oauth/
node_modules/passport-linkedin/
node_modules/passport-local/
node_modules/passport-paypal-openidconnect/
node_modules/passport-twitter/
node_modules/passport/
node_modules/phantomjs/
node_modules/run-sequence/
node_modules/serve-favicon/
node_modules/should/
node_modules/socket.io/
node_modules/supertest/
node_modules/swig/
node_modules/validator/
.bower-*/
.idea/
coverage/

# MEAN.js app and assets
# ======================
#public/dist/
uploads
modules/users/client/img/profile/uploads
*.pem

# Ignoring MEAN.JS's gh-pages branch for documenation
_site/

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
logs/
build/

# Sublime editor
# ==============
.sublime-project
*.sublime-project
*.sublime-workspace

# Eclipse project files
# =====================
.project
.settings/
.*.md.html
.metadata
*~.nib
local.properties

# IntelliJ
# ========
*.iml

# Cloud9 IDE
# =========
.c9/
data/
mongod

# Visual Studio
# =========
*.suo
*.ntvs*
*.njsproj
*.sln
