<section data-ng-controller="AnnouncementsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="announcement.title"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == announcement.user._id">
		<a class="btn btn-primary" href="/#!/announcements/{{announcement._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<p ng-bind="announcement.text"></p>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="announcement.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="announcement.user.displayName"></span>
		</em>
	</small>
</section>