<div class="container-fluid" ng-controller="HeaderController">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a ui-sref="home" class="navbar-brand" onclick="$('html').animatescroll();">
      <img id="brand" src="http://ifas.ufl.edu/media/ifasufledu/ifas-dark-blue/style-assets/css/images/UF-IFAS-logo-white.png">
    </a>
  </div>
  <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav" ng-if="menu.shouldRender(authentication.user);">

      <!--<li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
          <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
            <a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
      </li>-->
      <li ng-show="isActive('/')">
        <a href="#categories" onclick="$('#categories').animatescroll({padding:95});">Categories</a>
      </li>
      <li ng-show="isActive('/')">
        <a href="#about" onclick="$('#about').animatescroll({padding:30});">About</a>
      </li>
      <li ng-show="isActive('/')">
        <a href="#announcements" onclick="$('#announcements').animatescroll({padding:30});">Announcements</a>
      </li>
      <li ng-show="isActive('/')">
        <a href="#contact" onclick="$('#contact').animatescroll({padding:30});">Contact</a>
      </li>
      <li ui-sref-active="active" ng-show="{{authentication.user.roles[1] == 'admin'}}">
        <a href="/analytics">Analytics</a>
      </li>

      <li class="dropdown" ng-show="isActive('/health') || isActive('/economy') || isActive('/technology') || isActive('/development') || isActive('/environment')">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/health">Health</a></li>
          <li><a href="/economy">Economy</a></li>
          <li><a href="/technology">Technology</a></li>
          <li><a href="/development">Development</a></li>
          <li><a href="/environment">Environment</a></li>
        </ul>
      </li>
      <li id="search-reveal" class="dropdown">
        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <i class="glyphicon glyphicon-search"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <div class="input-group" style="padding: 5px 10px; width: 200px;">
              <input type="text" ng-model="typing" typeahead="item.tag for item in tags | filter: $viewValue:startsWith | orderBy: '+tag'" typeahead-on-select="doSomethingOnSelect(item.tag)" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
      <li ui-sref-active="active">
        <a ui-sref="authentication.signup">Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li ui-sref-active="active">
        <a ui-sref="authentication.signin">Sign In</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
          <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
          <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active">
            <a ui-sref="settings.profile">Edit Profile</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.picture">Change Profile Picture</a>
          </li>
          <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
            <a ui-sref="settings.password">Change Password</a>
          </li>
          <li ui-sref-active="active">
            <a ui-sref="settings.accounts">Manage Social Accounts</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self">Sign Out</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="{{authentication.user.roles[1] == 'admin'}}">
      <li ui-sref-active="active">
        <a ui-sref="authentication.submit">Submit File</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="{{authentication.user.roles[1] == 'admin'}}">
      <li ui-sref-active="active">
        <a ui-sref="authentication.submit" href="/analytics">Analytics</a>
      </li>
    </ul>
    <form id="search-bar" class="navbar-form navbar-right form-group" role="search">
      <div class="input-group">
        <input type="text" ng-model="typing" typeahead="item.tag for item in tags | filter: $viewValue:startsWith | orderBy: '+tag'" typeahead-on-select="doSomethingOnSelect(item.tag)" class="form-control" placeholder="Search">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">Go!</button>
        </span>
      </div>
    </form>
  </nav>
</div>
