<div ng-controller="HomeController">

  <section>
    <div class="embed-responsive embed-responsive-16by9">
      <video autoplay loop muted class="embed-responsive-item">
        <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
      </video>
      <h1 id="video-text" class="textCenter">AEB 2014 App</h1>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="container">
        <h2 class="textCenter featurette-heading" style="padding-bottom: 40px;">Categories:</h2>
          <div class="row horizAlign">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <img src="http://placehold.it/200x200"  class="img-responsive img-circle pic">
              <h3 class="textCenter">Cat 1</h3>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <img src="http://placehold.it/200x200"  class="img-responsive img-circle pic">
              <h3 class="textCenter">Cat 2</h3>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <img src="http://placehold.it/200x200"  class="img-responsive img-circle pic">
              <h3 class="textCenter">Cat 3</h3>
            </div>
          </div>
      </div>
    </div>
  </section>

  <section>
    <div class="well" style="padding-bottom: 100px;">
      <h2 class="textCenter">Search:</h2>
      <div class="col-lg-4"></div>
      <div class="col-lg-4 textCenter">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div><!-- /input-group -->
      </div>
      <div class="col-lg-4"></div>
    </div>
  </section>

  <section id="about" class="bottMargin">
    <h2 class="textCenter">About:</h2>
    <p class="textCenter">This is where a description of the class would go?</p>
  </section>

  <section id="announcements" class="bottMargin">
    <h2 class="textCenter">Announcements:</h2>
    <p class="textCenter">This is where announcements of the class would go?</p>
  </section>

  <section id="contact" class="bottMargin">
    <h2 class="textCenter">Contact:</h2>
    <p class="textCenter">This is where contact information of the class would go?</p>
  </section>

  <br>CEN3031 Group 10C 2015
  <br>Developed by: Agustin Malo, Ben Winninger, Cody Miller, Nick Troiano, Glenn Bright and Brett Belliveau.

</div>
