<div ng-controller="HomeController">

  <section>
    <div class="embed-responsive embed-responsive-16by9 textCenter">
      <video autoplay loop muted class="embed-responsive-item">
        <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
      </video>
      <h1 class="video-text" id="video-header">AEB 2014 App</h1>
    </div>
  </section>

  <div id="cat-title">
    <h3 class="video-text">Get Started</h3>
    <a href="" onclick="$('#categories').animatescroll({padding:95})">
      <h3 class="glyphicon glyphicon-menu-down video-text"></h3>
    </a>
    <h2>Categories</h2>
  </div>

<!-- Category display may change from original wireframe based on client's pictures -->
  <section id="categories">
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding: 0px;">
          <a href="/cat1" style="text-decoration: none;">
            <div id="cat1" class="category">
              <h3 class="textCenter">Cat 1</h3>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding: 0px;">
          <a href="/cat2" style="text-decoration: none;">
            <div id="cat2" class="category">
              <h3 class="textCenter">Cat 2</h3>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding: 0px;">
          <a href="/cat3" style="text-decoration: none;">
            <div id="cat3" class="category">
              <h3 class="textCenter">Cat 3</h3>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding: 0px;">
          <a href="/cat3" style="text-decoration: none;">
            <div id="cat4" class="category">
              <h3 class="textCenter">Cat 4</h3>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding: 0px;">
          <a href="/cat3" style="text-decoration: none;">
            <div id="cat5" class="category">
              <h3 class="textCenter">Cat 5</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!--<section>
    <div class="well" style="padding-bottom: 100px;">
      <h2 class="textCenter">Search:</h2>
      <div class="col-lg-4"></div>
      <div class="col-lg-4 textCenter">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </section>-->

  <br>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <section id="about" class="well well-sm bottMargin">
        <h2 class="page-header textCenter">About</h2>
        <img src="http://placehold.it/150x150" class="img-rounded" align="left" style="padding: 15px;">
        <p class="textCenter text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rhoncus orci quis felis condimentum, ut dictum libero mattis. In accumsan tortor id sollicitudin sodales. Nam efficitur, justo vel maximus tincidunt, justo sapien laoreet mi, sed aliquam justo lorem eu libero. Praesent nisi nibh, semper at porta ut, hendrerit eget mi. Morbi nisi mi, fringilla non varius at, iaculis eu risus. Vestibulum laoreet posuere imperdiet. Sed dignissim, odio ut sollicitudin convallis, tortor tortor iaculis ligula, vel rutrum enim massa id metus. Morbi vel urna eget massa scelerisque fringilla. Donec posuere tortor augue, lacinia pretium nunc aliquam non.</p>
      </section>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <section id="announcements" class="well well-sm bottMargin">
        <h2 class="page-header textCenter">Announcements</h2>
        <ul class="list-group pre-scrollable">
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Sample</h4>
            <div style="overflow: auto;">
              <p class="list-group-item-text">sample text</p>
            </div>
            <small class="list-group-item-text text-muted">
              Posted on DATE by USER
            </small>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Sample</h4>
            <div style="overflow: auto;">
              <p class="list-group-item-text">sample text</p>
            </div>
            <small class="list-group-item-text text-muted">
              Posted on DATE by USER
            </small>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Sample</h4>
            <div style="overflow: auto;">
              <p class="list-group-item-text">sample text</p>
            </div>
            <small class="list-group-item-text text-muted">
              Posted on DATE by USER
            </small>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Sample</h4>
            <div style="overflow: auto;">
              <p class="list-group-item-text">sample text</p>
            </div>
            <small class="list-group-item-text text-muted">
              Posted on DATE by USER
            </small>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Sample</h4>
            <div style="overflow: auto;">
              <p class="list-group-item-text">sample text</p>
            </div>
            <small class="list-group-item-text text-muted">
              Posted on DATE by USER
            </small>
          </li>
          <li class="list-group-item">
            <h4 class="list-group-item-heading">Sample</h4>
            <div style="overflow: auto;">
              <p class="list-group-item-text">sample text</p>
            </div>
            <small class="list-group-item-text text-muted">
              Posted on DATE by USER
            </small>
          </li>
        </ul>
      </section>
    </div>
  </div>

  <section id="contact" class="well well-sm bottMargin">
    <h2 class="page-header textCenter">Contact:</h2>
    <p class="textCenter">This is where contact information of the class would go?</p>
  </section>

</div>
