.resize_box {
    position: relative;
    padding: calc(60% + 105px) 0 0 0;
    font-family: Tahoma, Geneva, sans-serif;
}

.padding-15 {
    padding: 15px;
}

.cropped-image {
    height:60%;
}

.resize_box_content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}

ul {
    list-style-type: none;
}

h2 {
font-size: 18px;
}