.resize_box {
    position: relative;
    padding: calc(60% + 105px) 0 0 0;
    font-family: Tahoma, Geneva, sans-serif;
}

.padding-15 {
    padding: 15px;
}

.cropped-image {
    height:60%;
}

center {
    color:black;
}

.resize_box_content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #101010;
    background-color: #cecece;
    border: 3px solid #101010;
}

ul {
    list-style-type: none;
}

h2 {
font-size: 18px;
}

.awesome-font {
  font-family: Century Gothic, sans-serif;
  font-weight: 500; 
}