<section data-ng-init="find()">
  <div class="page-header">
    <div class="row">
      <div class="padding-15">
        <h1>Analytics</h1>
      <div class="text-left">
        <p>User Count: {{filteredItems.length}}</p>
        <p>Document Count: {{docsFiltered.length}}</p>
        <p>Tag Count: {{tagsFiltered.length}}</p>
        <p>Announcement Count: {{announcementsFiltered.length}}</p>
      </div>
      </div>
      <div class="list-group">
        <ul><!-- display documents in resizable boxes -->
            <li ng-repeat="doc in docsFiltered = (docs | filter: $root.searchText | filter: checkFilters)" class="col-md-6 col-sm-4 col-xs-12 col-lg-3 padding-15">
                <div class="resize_box">
                    <div class="resize_box_content">
                        <!-- display doc thumbnail and crop to fit -->
                        <a ui-sref="docs.view({docId: doc._id})">
                        <div class="cropped-image" style="background: url({{doc.thumbnail_image}}); background-size : 100% auto;">
                            <!-- insert text here to go inside the picture -->
                        </div>
                        </a>
                        <!-- title and description are 105px tall -->
                        <div>
                            <h2 style="overflow:hidden; max-height:46px; margin-top: 15px; line-height:23px" class="text-center">
                                {{doc.title}}
                            </h2>
                            <p style="overflow:hidden; max-height:44px; margin: 0; line-height:22px" class="text-center">
                                <font color=#a6a6a6>View Count: {{ doc.viewCount}} </font>
                            </p>
                        </div>
                    </div>
                <div>
            </li>
        </ul>
    </div>
    </div>
  </div>

<section data-ng-controller="AnalyticsController" data-ng-init="find()">
    <div class="list-group pre-scrollable">
        <div data-ng-repeat="analytic in analytics" class="list-group-item">
            <h4 class="list-group-item-heading" data-ng-bind="analytic.title"></h4>
            <div ng-repeat="tag in analytic.tags" style="float: left;">
                <span class="list-group-item-text">{{tag.tag}},&nbsp;</span>
            </div>
            <br>
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="analytic.created | date:'medium'"></span>
                by
                <span data-ng-bind="analytic.user.displayName"></span>
            </small>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!analytics.$resolved || analytics.length">
        No Analytics yet, why don't you <a href="/#!/analytics/create">create one</a>?
    </div>
</section>

<!-- 
    TODO: graph data
        number of document views vs. time
        popular tags
        etc.
--> 
