<section data-ng-controller="TagsController" data-ng-init="findOne()"><!--Allows the admin to view a specific tag -->
	<div class="page-header">
		<h1 class="awesome-font" data-ng-bind="tag.tag"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user.roles[1] == 'admin'">
		<a class="btn btn-primary" href="/admin/tags/{{tag._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
</section>